@model Survey_MVC.ViewModels.Surveys.CreateSurveyVM
@{
    ViewBag.Title = "CreateSurvey";
}

@{ var iterator = 1; char sign = 'a';}
<h2>Create new survey</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "Error occured while creating new survey", new { @class = "text-danger" })
    <table style="float:left">
        <tr>
            <td>
                @Html.LabelFor(m => m.title)
                @Html.EditorFor(m => m.title, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.description)
                @Html.EditorFor(m => m.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })


            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.isAnonymous)
                @Html.CheckBoxFor(m => m.isAnonymous, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.questions.Count > 0)
                {
                    <div>
                        <center><button value="Confirm" name="button" type="submit" class="btn btn-search">Create Survey</button></center>
                    </div>
                }
            </td>
        </tr>
    </table>

    <table style="float:left">
        <tr>
            <td>
                @Html.LabelFor(m => m.newQuestion.questionValue)
                @Html.EditorFor(model => model.newQuestion.questionValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.newQuestion.questionValue, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.newQuestion.isSingleChoice)
                @Html.CheckBoxFor(model => model.newQuestion.isSingleChoice, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.newQuestion.canAddOwnAnswers)
                @Html.CheckBoxFor(model => model.newQuestion.canAddOwnAnswers, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                <center><button value="AddQuestion" name="button" type="submit" class="btn btn-search">Add Question</button></center>
            </td>

        </tr>
    </table>

    <table>
        @if (Model.questions.Count > 0)
        {
            for (int i = 0; i < Model.questions.Count; i++)
            {
                @Html.HiddenFor(m => m.questions[i].canAddOwnAnswers)
                @Html.HiddenFor(m => m.questions[i].isSingleChoice)
                @Html.HiddenFor(m => m.questions[i].questionValue)
                <tr>
                    <td>
                        <div>
                            @iterator. @Model.questions[i].questionValue
                        </div>
                    </td>
                </tr>
                for (int j = 0; j < @Model.questions[i].answers.Count; j++)
                {
                    @Html.HiddenFor(m => m.questions[i].answers[j])
                    <tr>
                        <td>
                            @sign) @Model.questions[i].answers[j]
                        </td>
                    </tr>
                    { sign++; }
                }
                <tr>
                    <td>
                        @Html.EditorFor(m => m.questions[i].newAnswer, new { htmlAttributes = new { @Value = "", placeholder = "New answer", @class = "form-control" } })
                        <div>@Html.ValidationMessageFor(m => m.questions[i].newAnswer, "", new { @class = "text-danger" })</div>

                        <div>
                            <center><button value="@i" type="submit" name="button" class="btn btn-search"> Add answer </button></center>
                        </div>

                    </td>
                </tr>
                { iterator++; sign = 'a'; }
            }
        }
    </table>
}
