@model Survey_MVC.ViewModels.Surveys.CreateSurveyVM
@{
    ViewBag.Title = "CreateSurvey";
}

<h2>Create new survey</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "Error occured while creating new survey", new { @class = "text-danger" })
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the title" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the description" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <br />
    <div style="display:flex; flex-direction:column">
        @Html.LabelFor(model => model.isAnonymous, htmlAttributes: new { @class = "control-label col-md-2" })
        <div style="margin-left: 15px">
            @Html.RadioButtonFor(model => model.isAnonymous, "true", new { @checked = "checked" })  <label>Yes</label>       
            @Html.RadioButtonFor(model => model.isAnonymous, "false")  <label>No</label>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Create " class="btn btn-search" />
        </div>
    </div>
}