@model Survey_MVC.ViewModels.Surveys.SurveyToFillVM
@{
    ViewBag.Title = "Fill Survey";
}
@{ int questionNumber = 1; }
@{ int integer = 0; }
@{ var question = Model.questions.ElementAt(integer); }
@{ var answer = question.answers.ElementAt(integer); }


<h1>Title: @Model.title</h1>
<h2>Description: @Model.description</h2>
<h2>Author: @Model.authorNickname</h2>

@if (Model.isAnonymous)
{
    <h3>This survey is anonymous.</h3>
}
else
{
    <h3>This survey is not anonymous.</h3>
}
<br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.title);
    @Html.HiddenFor(m => m.description);
    @Html.HiddenFor(m => m.isAnonymous);
    @Html.HiddenFor(m => m.surveyID);
    @Html.HiddenFor(m => m.authorNickname);
    @Html.HiddenFor(m => m.questions);

    for (int i = 0; i < Model.questions.Count; i++)
    {
        
        @Html.HiddenFor(m => m.questions.ElementAt(i).canAddOwnAnswers);
        @Html.HiddenFor(m => m.questions.ElementAt(i).isSingleChoice);
        @Html.HiddenFor(m => m.questions.ElementAt(i).questionValue);
        @Html.HiddenFor(m => m.questions.ElementAt(i).newAnswer);
        @Html.HiddenFor(m => m.questions.ElementAt(i).answers);

        { question = Model.questions.ElementAt(i); }
        <h2>@questionNumber.  @question.questionValue</h2>
        { questionNumber++; }
        if (question.isSingleChoice)
        {
            for (int j = 0; j < question.answers.Count; j++)
            {
                @Html.HiddenFor(m => m.questions.ElementAt(i).answers.ElementAt(j).value);
                <div style="display:flex; flex-direction:column">
                    @{ answer = question.answers.ElementAt(j); }
                    <div> <label>@answer.value</label> @Html.RadioButton(i.ToString(), answer.isChecked)</div>
                </div>
            }
        }
        else
        {
            for (int j = 0; j < question.answers.Count; j++)
            {
                <div style="display:flex; flex-direction:column">
                    @{ answer = question.answers.ElementAt(j); }
                    <div><label>@answer.value</label> @Html.CheckBoxFor(m => m.questions.ElementAt(i).answers.ElementAt(j).isChecked, true)</div>
                </div>
            }
        }
    }
    <div class="form-group">
        <div>
            <input type="submit" value="Confirm" class="btn btn-search" />
        </div>
    </div>
}


