@model Survey_MVC.ViewModels.Surveys.SurveyListVM
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.surveyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.surveyList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.surveyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

            <td>
                @Html.ActionLink("Choose survey", "Choose", new { id = item.surveyID }) |
                @Html.ActionLink("Current results", "Results", new { id = item.surveyID })
            </td>
        </tr>
    }

</table>
<br/><br /><br /><br />
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
