@model PagedList.IPagedList<DataTransferObjects.Models.Survey>
@using PagedList.Mvc;
@{
    ViewBag.Title = "My Surveys";
}

@using (Html.BeginForm("MySurveys", "Home", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Title", "MySurveys", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Description", "MySurveys", new { sortOrder = ViewBag.DescSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

            <td>
                @Html.ActionLink("Current results", "SurveyResults", new { id = item.surveyID }) |
                @Html.ActionLink("Delete survey", "DeleteSurvey", new { id=item.surveyID})
            </td>
        </tr>
    }

</table>
<br /><br /><br /><br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("MySurveys",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
