@model Survey_MVC.ViewModels.Account.MyProfileVM
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Your Password</h2>
<table>
    <tr>
        <td>
            @Html.LabelFor(m => m.password, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.password, new { htmlAttributes = new { @class = "form-control", placeholder= "Password", type = "password" } })
            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(m => m.repeatPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.repeatPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Repeat password", type = "password" } })
            @Html.ValidationMessageFor(m => m.repeatPassword, "", new { @class = "text-danger" })
        </td>
    </tr>
</table>
