@model Survey_MVC.ViewModels.Account.MyProfileVM
@{
    ViewBag.Title = "MyProfile";
}

<h2>My Profile</h2>

<table style=" float:left">
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.login): @Html.DisplayFor(m => m.login)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.nickname): @Html.DisplayFor(m => m.nickname)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.email): @Html.DisplayFor(m => m.email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.followers): @Html.DisplayFor(m => m.followers)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.followed): @Html.DisplayFor(m => m.followed)
        </td>
    </tr>
</table>

<table style=" float:left">
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.address): @Html.DisplayFor(m => m.address)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.zipcode): @Html.DisplayFor(m => m.zipcode)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.city): @Html.DisplayFor(m => m.city)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.state): @Html.DisplayFor(m => m.state)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.country): @Html.DisplayFor(m => m.country)
        </td>
    </tr>
    @if (Model.isProfilePublic == false)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.isProfilePublic) Private
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.isProfilePublic) Public
            </td>
        </tr>
    }
</table>

<table>
    <tr>
        <td>
            <div>
                <center>
                    <button value="Edit" name="button" type="submit" class="btn btn-search" onclick='window.location = "@Url.Action("EditProfile", "Account")"'>Edit profile</button>
                </center>
            </div>
        </td>
        <td>
            <div>
                <center>
                    <button value="Delete" name="button" type="submit" class="btn btn-danger" onclick='window.location = "@Url.Action("DeleteAccount", "Account")"'>Delete account</button>
                </center>
            </div>
        </td>
    </tr>
</table>